eureka:
  client:
    enabled: true
    instance-info-replication-interval-seconds: 10
    registry-fetch-interval-seconds: 10
  instance:
    lease-expiration-duration-in-seconds: 20
    lease-renewal-interval-in-seconds: 10
management:
  endpoints:
    web:
      exposure:
        include: refresh, health,info,beans,env, mappings, routes

zuul:
  prefix: /api
  routes:
    bank-service:
      service-id: bank-service
      path: "/bank/**"
      sensitive-headers: Cookie,Set-Cookie
    bitcoin-service:
      path: "/bitcoin/**"
      service-id: bitcoin-service
      sensitive-headers: Cookie,Set-Cookie
    payPal-service:
      path: "/paypal/**"
      service-id: paypal-service
      sensitive-headers: Cookie,Set-Cookie
    client-service:
      path: "/client/**"
      service-id: client-service
      sensitive-headers: Cookie,Set-Cookie
