eureka:
  client:
    enabled: true
    instance-info-replication-interval-seconds: 10
    registry-fetch-interval-seconds: 10
  instance:
    lease-expiration-duration-in-seconds: 20
    lease-renewal-interval-in-seconds: 10
management:
  endpoints:
    web:
      exposure:
        include: refresh, health,info,beans,env, mappings, routes
server:
  port: 8762
zuul:
  prefix: /api
  routes:
    bitcoin-service:
      path: "/bitcoin/**"
      service-id: bitcoin-service
    payPal-service:
      path: "/paypal/**"
      service-id: paypal-service
    client-service:
      path: "/client/**"
      service-id: client-service
    authentication-service:
      path: "/authentication/**"
      service-id: authentication-service